@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z3d6d8');
  src:  url('fonts/icomoon.eot?z3d6d8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?z3d6d8') format('truetype'),
    url('fonts/icomoon.woff?z3d6d8') format('woff'),
    url('fonts/icomoon.svg?z3d6d8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pets:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e095";
}
.icon-up:before {
  content: "\e096";
}
.icon-arrow-down:before {
  content: "\e097";
}
.icon-menu:before {
  content: "\e120";
}
.icon-pin-alt:before {
  content: "\e900";
}
.icon-chat-3:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e902";
}
.icon-select-arrows:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e986";
}
.icon-share:before {
  content: "\f064";
}
.icon-github:before {
  content: "\f09b";
}
.icon-android:before {
  content: "\f17b";
}

